@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: flex flex-nowrap;
  min-width: 100%;
  animation: marquee 10s linear infinite;
}
